/* disposición de las tarjetas usando grid --------------------------------------------------------------- */
.cards {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4.0625rem;
    width: 90%;
    padding-top: 2.5rem;
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

@media (max-width: 550px) {
    .cards {
        padding-top: 1.5rem;
        gap: 1.5rem;
    }
}

/* tarjeta con foto de perfil y nombre ------------------------------------------------------------------------ */
.company {
    border-radius: 1.25rem;
    border: 0.1875rem solid #DAD9D9;
    box-shadow: 0 0.1875rem 0.375rem #DAD9D9;
    padding: 2.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-image img {
    width: 10.625rem;
    border-radius: 100%;
}

.company-text {
    margin-top: 1.25rem;
    font-size: clamp(1.125rem, 5vw, 2.1875rem);
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-weight: bold;
}

.company-text a {
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 100%;
}

.company-text a button {
    width: 90%;
}

@media (max-width: 900px) {
    .company {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
        padding: 1.25rem 0;
    }

    .company-image img {
        margin: 0;
        margin-left: 1.25rem;
        max-width: 6.25rem;
    }

    .company-text {
        margin: 0 2.5rem;
    }

    .company-text button {
        margin: 0;
        margin-top: 1.25rem;
    }
}

@media (max-width: 550px) {
    .company {
        padding: 1rem;
    }

    .company-image img {
        width: 5rem;
    }

    .company-text {
        margin: 0 1rem;
    }
}

/* tarjeta con información de la empresa ---------------------------------------------------------------------- */
.company-info {
    padding: 1.25rem;
    border-radius: 1.25rem;
    border: 0.1875rem solid #DAD9D9;
    box-shadow: 0 0.1875rem 0.375rem #DAD9D9;
}

.company-info h1 {
    color: #531919;
    font-size: clamp(1rem, 5vw, 1.5625rem);
    font-weight: bold;
    margin-left: 1.25rem;
}

.company-info p {
    margin-top: 0.625rem;
    margin-left: 1.5625rem;
    font-size: 1rem;
}

@media (max-width: 550px) {
    .company-info {
        padding: 1rem;
    }
}

/* botones --------------------------------------------------------------------------------------------------- */
.company-botones {
    margin: 2.5rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.company-botones button {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

@media (max-width: 550px) {
    .company-botones {
        margin: 1.5rem;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}